@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Outfit:wght@100..900&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
}

body {
  margin: 0;
  background-image: url(../img/bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  color: #e7e7eb;
}

img {
  width: 220px;
}

.logo {
  padding-top: 50px;
  padding-bottom: 50px;
}
main {
  margin-left: 6.5em;
  margin-right: 6.5em;
}
.title {
  text-align: center;
  font-family: "Outfit", sans-serif;
}
.title h1 {
  font-size: 5rem;
  margin-bottom: 0;
  line-height: 3.7rem;
  margin-bottom: 1rem;
}
.title h3 {
  font-size: 2.5rem;
  font-weight: 400;
}
.cake {
  text-align: center;
  padding: 20px;
}

.false {
  font-family: "Outfit", sans-serif;
  width: 33%;
  display: inline-block;
}
.true {
  font-family: "Outfit", sans-serif;
  width: 33%;
  display: inline-block;
}
.false h2 {
  font-weight: 400;
  font-size: 4rem;
}
.true h2 {
  font-weight: 400;
  font-size: 4rem;
}

.donut {
  width: 33%;
  display: inline-block;
}
.rateUs {
  text-align: center;
}
button {
  cursor: pointer;
  color: #e7e7eb;
  -webkit-appearance: none;
  appearance: none;
  background-color: transparent;
  border: 2px solid rgb(255, 255, 255);
  height: 70px;
  width: 260px;
  font-weight: bold;
  font-size: 2rem;
  font-family: "Outfit", sans-serif;
}
