@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Outfit:wght@100..900&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
}

body {
  margin: 0;
  background-image: url(../img/bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-image: center;
  background-attachment: fixed;
  color: #e7e7eb;
  width: 100%;
}

img {
  width: 220px;
}

.logo {
  text-align: left;
  padding-top: 50px;
  padding-bottom: 50px;
}
main {
  text-align: center;
  padding-inline: 100px;
  width: 100%;
}
.title {
  text-align: center;
  font-family: "Outfit", sans-serif;
}
.title h1 {
  font-size: 5rem;
  margin-bottom: 0;
  line-height: 3.7rem;
  margin-bottom: 1rem;
}
.title h3 {
  font-size: 2.5rem;
  font-weight: 400;
}
/* sezzioni prcentuale % */
.false {
  line-height: 65px;
  text-align: left;
  padding-inline: 10rem;
  height: auto;
  font-family: "Outfit", sans-serif;
  width: 33%;
  display: inline-block;
  vertical-align: 15rem;
}
.true {
  line-height: 65px;
  text-align: left;
  padding-right: 10rem;
  padding-left: 6rem;
  height: auto;
  font-family: "Outfit", sans-serif;
  width: 33%;
  display: inline-block;
  vertical-align: 15rem;
}
.false h2 {
  margin: 0;
  font-weight: 400;
  font-size: 4rem;
}
.true h2 {
  margin: 0;
  font-weight: 400;
  font-size: 4.5rem;
}
.results p {
  line-height: 35px;
  font-size: large;
  font-weight: 300;
  margin: 0;
}
.results h3 {
  margin: 0;
  text-align: left;
  font-size: 4rem;
  font-weight: 600;
}

.rateUs {
  text-align: center;
}
/* Contenitore centrale */
.container {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 1s ease-out, transform 1s ease-out;
  text-align: center;
}
.results {
  width: 100%;
  padding: 80px 0px;
}
/* Contenitore del grafico */
.chart-container {
  width: 33%;
  margin: 0 auto;
  position: relative;
  display: inline-block;
}

/* Canvas per il grafico */
canvas {
  width: 100%;
  height: 100%;
  display: inline-block;
  opacity: 0;
  transform: scale(0.8);
  transition: opacity 1s ease-out 0.5s, transform 1s ease-out 0.5s;
}
.resultChart {
  width: 33%;
  display: inline-block;
}
.respose {
  min-width: auto;
  max-width: 280px;
  position: absolute;
  top: 38%;
  left: 50%;
  transform: translate(-50%, -50%);
}

button {
  cursor: pointer;
  color: #e7e7eb;
  appearance: none;
  background-color: transparent;
  border: 2px solid rgb(255, 255, 255);
  height: 70px;
  width: 260px;
  font-weight: bold;
  font-size: 2rem;
  font-family: "Outfit", sans-serif;
  transition: opacity 1s ease-out 1.5s;
}
button:hover {
  background-color: white;
  color: black;
}
