@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Outfit:wght@100..900&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
}

body {
  margin: 0;
  background-image: url(../img/bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  color: #e7e7eb;
}

main {
  margin-left: 6.5em;
  margin-right: 6.5em;
}

img {
  width: 150px;
}

.logo {
  padding-top: 50px;
  padding-bottom: 110px;
}

.titles h1,
h2 {
  font-family: "Outfit", sans-serif;
  font-size: 5rem;
  margin-bottom: 0;
  line-height: 3.7rem;
}

.titles {
  padding-bottom: 50px;
}

h1 {
  font-weight: 400;
}

h3 {
  font-family: "Outfit", sans-serif;
  color: #c2128d;
  font-size: 2rem;
  margin-bottom: 0;
}

.instructions {
  font-family: "Inter", sans-serif;
  font-size: 1.2rem;
  font-weight: 300;
}

.highlighted {
  font-weight: 600;
}

ul {
  line-height: 2rem;
  margin-top: 50px;
  margin-bottom: 50px;
}

.checkbox-container,
.proceed {
  display: inline-block;
}

.proceed {
  text-align: right;
}

button {
  margin-left: 190px;
  height: 60px;
  width: 190px;
  font-weight: bold;
  font-size: 1.2rem;
  background-color: #01ffff;
}

label {
  font-family: "Inter", sans-serif;
}

button,
input,
label {
  cursor: pointer;
}

input[type="checkbox"] {
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  border: 2px solid rgb(255, 255, 255);
  background-color: transparent;
  margin: 0;
  vertical-align: middle;
}

input[type="checkbox"]:checked::after {
  content: "✔";
  font-size: 16px;
  color: rgb(255, 255, 255);
  font-weight: bold;
}

label {
  margin-left: 10px;
}
